@* v2_0829'18_ES_性別無處理，最後checkbox尚未在controller加上bool

*@

@model smit05_BigProject.Models.MGmember
@{
    ViewBag.Title = "Member_register";
    Layout = "~/Views/Shared/_Layout_member.cshtml";
}

<form action="" method="post">
    <section class="content">
        <div class="content-title"><span>加入會員：一般會員</span></div>
        <p class="reminder">為了提供您更完善的服務，請務必輸入正確的資料，謝謝您。 <span><b></b>為必填欄位</span></p>
        <div class="form-wrap type1">
            <div class="form-box line">
                <div class="row clearfix">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label required">帳號</label>
                            <div class="control-box">
                                <input class="form-control" type="text" name="M_account" id="M_account" placeholder="請輸入 (4-10 字符)" value="@Model.M_account" oninput="if(value.length>10)value=value.slice(0,10)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label required">密碼</label>
                            <div class="control-box">
                                <input class="form-control" type="password" name="M_password" id="M_password" placeholder="請輸入 (4-10 字符)" value="@Model.M_password" oninput="if(value.length>10)value=value.slice(0,10)" required>
                                <div class="tips">請熟記密碼，此為往後登入會員的密碼，並請定期更換密碼設定</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label required">密碼確認</label>
                            <div class="control-box">
                                <input class="form-control" type="password" name="M_password_check" id="M_password_check" placeholder="請輸入 (4-10 字符)" value="@Model.M_password_check" oninput="if(value.length>10)value=value.slice(0,10)" required>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label required">E-mail</label>
                            <div class="control-box">
                                <input class="form-control" type="text" name="M_email" id="M_email" placeholder="ex:smit05@gmail.com.tw" value="@Model.M_email" required>
                            </div>
                        </div>
                        <div class="form-group captcha">
                            <label class="control-label required">驗證碼</label>
                            <div class="control-box">
                                <input class="form-control" type="text" name="" id="">
                                <a href="#">
                                    <!-- <img src="system/captcha/captcha_show.php?r=<?=md5(rand().rand())?>" name="imgcode" id="imgcode" class="imgcode" /> -->
                                    <img src="images/captcha.jpg" alt="">
                                    <i></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="check-agree-box">
                <div class="check-agree">
                    <label class="form-checkbox">
                        <input type="checkbox" name="" id=""> 我已仔細閱讀「<a href="terms.html" target="_blank">使用條款</a>」、「<a href="disclaimer.html" target="_blank">免責聲明</a>」等所載內容及其意義，茲同意該等條款規定，並願遵守網站現今、嗣後規範的各種規則
                    </label>
                </div>
            </div>
            <div class="btn-box">
                <button type="reset" class="btn simple">清除重填</button>
                <!-- <button  type="submit" class="btn simple bg2">SEND</button> -->
                <button type="submit" href="member_register_ok.html" class="btn simple bg2">確認送出</button>
            </div>
        </div>
    </section>
</form>

