@model smit05_BigProject.Models.sellerDetail
@{

    Layout = "~/Views/Shared/_Layout_member.cshtml";
}

<h2>test</h2>
<input class="form-control" type="text" name="SI_I1" id="SI_I1" value="@Model.SellerImage.SI_I1" required>

