<main class="site-main" itemscope itemtype="http://schema.org/Article">
    <header class="main-top">
        <div class="container">
            <ol class="breadcrumb list-inline" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/Home/Index">
                        <span itemprop="name">首頁</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/Home/About">
                        <span itemprop="name">關於我們</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </div>
    </header>
    <div class="main-content">
        <div class="container">
            <header class="content-top clearfix">
                <div class="main-title">
                    關於我們
                    <div class="second_txt">EVENT</div>
                </div>
            </header>
            <section class="content">
                <article class="editor clearfix" itemprop="articleBody">
                    <!-- 以下都是內容 -->
                </article>
            </section>
        </div>
    </div>
</main>