/*---------------- title ------------------*/

.index-title {
    text-align: center;
    line-height: 1.2;
    margin: 0 0 60px;
}

.index-title span {
    color: #222;
    font-size: 15px;
    letter-spacing: 6px;
    text-indent: 6px;
    font-weight: bold;
}

.index-title span i {
    display: inline-block;
    width: 50px;
    height: 39px;
    background: url(../images/index/events-ic.png);
    margin: 0 10px -3px 0;
}

.index-title p {
    margin: 0;
    color: #222;
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 5px;
}


/*---------------- section ------------------*/

.sect01 {
    padding: 90px 0 105px;
}

.sect02 {
    padding: 90px 0 95px;
}

.sect03 {
    padding: 80px 0 120px 0;
}

/*---------------- more ------------------*/

.btn.more {
    display: block;
    max-width: 150px;
    line-height: 50px;
    font-size: 18px;
    margin: 0 auto;
    border: 1px solid #777777;
    letter-spacing: 3px;
    text-indent: 3px;
    font-weight: 300;
}


/*---------------- event ------------------*/

.event-box {
    max-width: 1200px;
    margin: 0 auto;
}

.event-list {
    margin: 0 -38px;
}

.event-list li {
    width: 25%;
    padding: 0 38px;
}

.event-list li:focus{
    border: 0;
}

.event-list .box {
    max-width: 332px;
    margin: 0 auto;
    position: relative;
}

.event-list .pic {
    position: relative;
}

.event-list .pic:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all .2s;
}

.event-list a:hover .pic:before {
    opacity: 1;
}

.event-list {
    color: #333;
    line-height: 1.2;
}

.event-list .tit {
    font-size: 18px;
    margin: 0;
    background: url(../images/lipic.png) no-repeat left 14px;
    padding: 10px 0 0 17px;
    transition: all .2s;
}

.event-list li:hover .tit {
    color: #75BFAF;
}

.event-list .text {
    margin: 0 auto;
}

.event-list .text p {
    font-size: 15px;
    margin: 0;
    padding: 5px 0 0 18px;
}

.event-list .textdate {
    font-size: 13px;
    margin: 0;
    padding: 25px 0 0 0;
}

.event-list .textdate .btn.wish {
    float: right;
    margin: -4px 0 0px 0;
}

.event-list .more {
    color: #999;
    font-size: 13px;
    margin: 7px 0 0 0;
    padding: 12px 0 0 1px;
    transition: all .2s;
    background: url(../images/dot.png) repeat-x left top;
    display: block;
}

.event-list .more i {
    display: inline-block;
    background: url(../images/more.png) no-repeat left center;
    width: 12px;
    height: 12px;
    float: right;
    margin: 1px 5px 0 0;
}

.event-list .more:hover {
    color: #555555;
}

.event-list .more:hover i {
    background: url(../images/more.png) no-repeat right center;
}

.arrow-box {
    width: 100%;
}

.arrow-box .slick-arrow {
    border: 0;
    width: 71px;
    height: 136px;
    background: url(../images/index/arrow.png);
    color: transparent;
    cursor: pointer;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-5%);
    left: 0;
}

.arrow-box .slick-next {
    transform: translateY(-5%) rotate(180deg);
    left: auto;
    right: 0;
}

.event-box .btn.more {
    margin-top: 70px;
}



/*---------------- about ------------------*/

.sect02 {
    background: url(../images/index/about-bg.jpg);
    text-align: center;
}

.about-box {
    color: #545454;
    line-height: 1.8;
}

.about-box .index-title {
    margin: 0 0 50px;
}

.about-box .index-title span i {
    background: url(../images/index/about-ic.png);
    width: 31px;
}

.about-box .btn.more {
    margin-top: 80px;
    background: #222222;
    color: #fff;
}

/*---------------- market ------------------*/

.market-box .index-title span i {
    background: url(../images/index/market-ic.png);
    width: 40px;
}

.market-list .box {
    position: relative;
    display: inline-block;
}

.market-list li {
    width: calc(100% / 4);
}

.market-list .box .text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    opacity: 0;
    transition: all .2s;
}

.market-list .box:hover .text-box {
    opacity: 1;
}

.market-list .text-box .text{
    max-width: 265px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    width: calc(100% - 20px);
}

.market-list .text .tit {
    text-align:  left;
    font-size: 18px;
    color: #FFBFBF;
    margin: 0 0 20px 0;
    line-height: 1;
}

.market-list .text span {
    font-size: 15px;
    color: #FFF;
    text-align:  left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 80px;
    line-height: 1.4;
}

.market-box .btn.more {
    margin-top: 85px;
}

/*---------------- rwd ------------------*/

@media screen and (max-width: 1280px) {
    .event-box {
        max-width: 1024px;
        margin: 0 auto;
    }
    .event-list {
        margin: 0 -15px;
    }
    .event-list li{
        padding: 0 15px;
    }
    .arrow-box .slick-arrow{
        left: 2%;
    }
        .arrow-box .slick-next{
        left: auto;
        right: 2%;
    }
}
@media screen and (max-width: 1200px) {
    .arrow-box .slick-arrow{
        display: none !important;
    }
}