.content{
    max-width: 1200px;
    margin: 0 auto;
}

.sign_box .col_left {
    width: 45%;
}

.sign_box .col_right {
    width: 51%;
}

.sign_main{
    border: 3px solid #ffe9bc;
    padding: 10px;
}

.sign_box .sign_title{
    background-color: #ffe9bc;
    font-size: 15px;
    padding: 11px 0 12px 15px;
    margin: -10px -10px 15px -10px;
}

.sign_main b{
    color: #222;
    border-right: 2px solid #ffe9bc;
    padding: 0px 7px;
    margin: 0 8px 0 0;
    font-size: 14px;
}

.sign_main span{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: top;
}

.sign_box .btn-box{
    padding-top: 35px;
}

.notice_box{margin: 51px 0 0 0;}

.sign-list li{
    margin: 0 0 22px;
}