@font-face {
  font-family: 'icon-font';
  src:  url('fonts/icon-font.eot?advne1');
  src:  url('fonts/icon-font.eot?advne1#iefix') format('embedded-opentype'),
    url('fonts/icon-font.ttf?advne1') format('truetype'),
    url('fonts/icon-font.woff?advne1') format('woff'),
    url('fonts/icon-font.svg?advne1#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-refresh-rounded:before {
  content: "\e90d";
}
.ic-facebook-circle:before {
  content: "\e90a";
}
.ic-google-plus-circle:before {
  content: "\e90b";
}
.ic-twitter-circle:before {
  content: "\e90c";
}
.ic-plurk:before {
  content: "\e908";
}
.ic-plurk-new:before {
  content: "\e909";
}
.ic-m-menu:before {
  content: "\e900";
}
.ic-m-search:before {
  content: "\e901";
}
.ic-m-member:before {
  content: "\e902";
}
.ic-m-contact:before {
  content: "\e903";
}
.ic-m-wishlist:before {
  content: "\e904";
}
.ic-m-cart:before {
  content: "\e905";
}
.ic-m-home:before {
  content: "\e906";
}
.ic-m-close:before {
  content: "\e907";
}
.ic-repeat:before {
  content: "\f01e";
}
.ic-rotate-right:before {
  content: "\f01e";
}
.ic-refresh:before {
  content: "\f021";
}
.ic-check-square-o:before {
  content: "\f046";
}
.ic-square-o:before {
  content: "\f096";
}
.ic-square:before {
  content: "\f0c8";
}
.ic-rotate-left:before {
  content: "\f0e2";
}
.ic-undo:before {
  content: "\f0e2";
}
.ic-circle-o:before {
  content: "\f10c";
}
.ic-check-square:before {
  content: "\f14a";
}
.ic-arrow-circle-o-right:before {
  content: "\f18e";
}
.ic-arrow-circle-o-left:before {
  content: "\f190";
}
.ic-dot-circle-o:before {
  content: "\f192";
}
.ic-arrow-circle-o-down:before {
  content: "\f01a";
}
.ic-arrow-circle-o-up:before {
  content: "\f01b";
}
.ic-chevron-left:before {
  content: "\f053";
}
.ic-chevron-right:before {
  content: "\f054";
}
.ic-plus-circle:before {
  content: "\f055";
}
.ic-minus-circle:before {
  content: "\f056";
}
.ic-arrow-left:before {
  content: "\f060";
}
.ic-arrow-right:before {
  content: "\f061";
}
.ic-arrow-up:before {
  content: "\f062";
}
.ic-arrow-down:before {
  content: "\f063";
}
.ic-plus:before {
  content: "\f067";
}
.ic-minus:before {
  content: "\f068";
}
.ic-chevron-up:before {
  content: "\f077";
}
.ic-chevron-down:before {
  content: "\f078";
}
.ic-twitter:before {
  content: "\f099";
}
.ic-facebook:before {
  content: "\f09a";
}
.ic-facebook-f:before {
  content: "\f09a";
}
.ic-google-plus:before {
  content: "\f0d5";
}
.ic-caret-down:before {
  content: "\f0d7";
}
.ic-caret-up:before {
  content: "\f0d8";
}
.ic-caret-left:before {
  content: "\f0d9";
}
.ic-caret-right:before {
  content: "\f0da";
}
.ic-angle-double-left:before {
  content: "\f100";
}
.ic-angle-double-right:before {
  content: "\f101";
}
.ic-angle-double-up:before {
  content: "\f102";
}
.ic-angle-double-down:before {
  content: "\f103";
}
.ic-angle-left:before {
  content: "\f104";
}
.ic-angle-right:before {
  content: "\f105";
}
.ic-angle-up:before {
  content: "\f106";
}
.ic-angle-down:before {
  content: "\f107";
}

